body, html {
  font-family: "Lato", sans-serif;
  height: 100%;
  margin: 0;
}

.title{
  font-size: 3.5rem;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
}

.subsection{
  padding: 50px 80px;
}

.description{
  line-height: 150%;
  font-size: 1.1rem;
}

.subtitle{
  font-size: 1.8rem;
  text-align: center;
}
.graphFooter{
  text-align: center;
}
.parallax {
  /* Create the parallax scrolling effect */
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#openPic{
  /* The image used */
  background-image: url("../img/philippe-toupet-R261qkc-nDE-unsplash.jpg");
  height: 100%;
}

#intro{
  color: #777;
}

#data{
  background-color: #2b2c30;
  color: white;
}

#earth_prediction{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}