<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styling.css') }}">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    </head>
    <body>
    <div class="parallax" id="openPic">
        <div class="title"><span>The Change Of Earth's Temperature</span></div>
    </div>
    <div class="subsection" id="intro">
        <h3 class="subtitle"><b style="color: black;">About</b></h3>
        <p class="description">It's no secret that the Earth has been heating up for the last few decades.
        An increase in waste from human activities such as greenhouse gasses has resulted in a rise of the Earth's
        temperature which is now starting to devastate ecosystems. This
        web page helps display this information through different charts and maps in
        hopes of showing just how big of a change has occurred. Scroll below to take a look at them!</p>
    </div>
    <div class="subsection" id="data">
        <h3 class="subtitle"><b>The Data</b></h3>
        <div class="chart" id="yearly_temps">
            <script>
                var graphs = {{plot | safe}};
                Plotly.newPlot('yearls_temps',graphs[0].data,{});
            </script>
        </div>
    </div>
    </body>
</html>
